#Database configuration
dbname=calendar
dbhost=localhost
dbport=3306
dbuser=calendar
dbpass=wawwwawiwa


#Server configuration
listenport=6789
listenhost=0.0.0.0


#Client configuration
srvport=6789
srvhost=129.241.210.105


#Email configuration
emailuser=crazycalendarpartyedition@kradalby.no
emailpass=crazyparty